*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.inicio__lista {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 20px;
	column-gap: 10px;
}
.image {
	display: block;
}
#text {
	position: absolute;
	color: $color_6;
	font-size: 3.64583vw;
	font-family: $font-family_1;
	left: 48px;
	top: 1156px;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: 400;
}
.mobile{
    display: none;
}

.texto {
	position: absolute;
	color: $color_6;
	font-size: 3.64583vw;
	font-family: $font-family_1;
	top: 1156px;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: 400;
	padding-left: 179px;
}
.texto2 {
	position: absolute;
	color: $color_6;
	font-size: 3.64583vw;
	font-family: $font-family_1;
	top: 1156px;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: 400;
	padding-left: 120px;
}
@media screen and (max-width: 670px) and (min-width: 1px) {
    .inicio__lista{
        grid-template-columns: 1fr;
        padding-left: 0;
        padding-right: 0;
        row-gap: 20px;
    }
}
@media screen and (max-width: 670px) and (min-width: 1px){
    .wallpaper{
        width: 399px;
        height: 725px;
    }
}
@media screen and (max-width: 670px) and (min-width: 1px){
    .wallpaper{
        display: none;
    }
}
@media screen and (max-width: 768px) and (min-height: 1px){
    .mobile{
        display: block;
        overflow: hidden;
    }
}
@media screen and (width: 375px) and (height: 812px){
    .mobile3{
        display: block;
        width: 100%;
    }
}
@media screen and (width: 414px) and (height: 896px){
    .mobile3{
        display: block;
        width: 100%;
    }
}
@media only screen and (max-width: 360px) {
    .mobile3{
        display: block;
        width: 100%;
    }
  }
  @media only screen and (max-width: 360px) {
    .mobile3{
        display: block;
        width: 100%;
    }
  }
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    .mobile3{
        display: block;
        width: 100%;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .mobile3{
        display: block;
        width: 100%;
    }
}
@media screen and (width: 419px) and (height: 736px){
    .mobile3{
        display: block;
        width: 100%;
    }
}
@media screen and (width: 375px) and (height: 667px){
    .mobile{
        display: block;
        overflow: hidden;
    }
}
@media screen and (width: 390px) and (height: 844px){
    .mobile{
        display: block;
        overflow: hidden;
    }
}
@media screen and (max-width: 670px) and (min-width:1px) {
    #text{
        padding-left: 19px;
        font-size: 33px;
        top: 947px;
    }
}
@media screen and (max-width: 670px) and (min-width:1px) {
    .texto{
        padding-left: 110px;
        font-size: 50px;
        top: 1510px;
    }
}
@media screen and (max-width: 670px) and (min-width:1px) {
    .texto2{
        padding-left: 62px;
        font-size: 50px;
        top: 2103px;
    }
}
@media screen and (max-width: 1367px) and (min-width:1px){
    .texto2{
        font-size: 50px;
        padding-left: 70px;
    }
}
@media screen and (max-width: 1367px) and (min-width:1px){
    .texto{
        font-size: 50px;
        padding-left: 61px;
    }
}
@media screen and (max-width: 450px) and (min-width:1px) {
    .texto2{
        font-size: 50px;
        padding-left: 9px;
    }
}
@media screen and (min-width: 1367px){
    .notebook{
        display: none;
    }
}
@media screen and (max-width: 670px) and (min-width:1px) {
    .note{
        display: none;
    }
}
@media screen and (min-width: 1024px){
    .note{
        display: block;
    }
}
@media screen and (max-width: 1367px) and (min-width:1px){
    .wallpaper{
        display: none;
    }
}